{% extends '@EasyAdmin/crud/edit.html.twig' %}

{% block main %}
    {% block edit_form %}
        <form name="Business" method="post" class="ea-edit-form" id="edit-Business-form">
            {{ form_start(edit_form) }} 
            <input type="hidden" name="referrer" value="/admin">
            {{ include('form/business.html.twig', {business: edit_form}) }}
            <br>
            <div class="row">
                <div class="col-12">
                    <h3><b>Info Extra</b></h3>
                    <div class="form-group d-none">
                        {{ form_label(edit_form.name,'nombre') }}
                        {{ form_widget(edit_form.name, {'attr': {'class': 'form-control d-none'}}) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(edit_form.title,'descripción breve') }}
                        {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(edit_form.description,'descripción') }}
                        {{ form_widget(edit_form.description, {'attr': {'class': 'form-control', 'rows': 5, 'cols': 40 }}) }}
                    </div>
                </div>
            </div>
            {{ form_end(edit_form) }}
        </form>
    {% endblock edit_form %}
{% endblock %}